/* *{
    outline: 2px solid cyan;
} */
/* .container {
    position: relative;
    outline: 2px solid black;
}*/

html::after {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1100;
    background-image: url("./img/base-body-overlay.gif");
    opacity: .08;
    pointer-events: none;
  }

/* @font-face {
    font-family: "extra-condensed-light";
    src: url("./fonts/NotoSans-ExtraCondensedLight.ttf");
    } 
    @font-face {
    font-family: "extra-condensed-semi-bold";
    src: url("./fonts/NotoSans-ExtraCondensedSemiBold.ttf");
    }
    @font-face {
        font-family: "extra-condensed-extra-bold";
        src: url("./fonts/NotoSans-SemiCondensedExtraBold.ttf");
    }
    @font-face {
        font-family: "semi-condensed-medium";
        src: url("./fonts/NotoSans-SemiCondensedMedium.ttf");
    }
    @font-face {
        font-family: "semi-condensed-extra-bold";
        src: url("./fonts/NotoSans-SemiCondensedExtraBold.ttf");
    } 
    .extra-condensed-light {
        font-family:  extra-condensed-light;
    }
    .extra-condensed-semi-bold {
        font-family:  extra-condensed-semi-bold;
    }
    .extra-condensed-extra-bold {
        font-family:  extra-condensed-extra-bold;
    }
    .semi-condensed-medium {
        font-family:  semi-condensed-medium;
    }
    .semi-condensed-extra-bold {
        font-family:  semi-condensed-extra-bold;
    }
*/

/*
    Condensed Light - para las mas finas    (title sections)
    Extra Condensed Black - Gruesas         (h1-2,3)
    Extra Condensed Medium - Medias         (p)
*/
@font-face {
    font-family: "condensed-light";
    src: url("./fonts/NotoSans-CondensedLight.ttf");
}
@font-face {
    font-family: "extra-condensed-medium";
    src: url("./fonts/NotoSans-ExtraCondensedMedium.ttf");
}
@font-face {
    font-family: "extra-condensed-black";
    src: url("./fonts/NotoSans-ExtraCondensedBlack.ttf");
}
.condensed-light {
    font-family: condensed-light;
}
.extra-condensed-medium {
    font-family:  extra-condensed-medium;
}
.extra-condensed-black {
    font-family:  extra-condensed-black;
}

.scroll_navbar {
    padding: .2rem 0px .2rem 0;
    transition-duration: 0.6s;
  }
  .navbar {
      transition: all 350ms;
  }
  html {
      background-color: #000;
  }
  .navbar-light .navbar-brand {
    color: white;
}
.bg-kiev {
    background-color: #D97775;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
.container .section {
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    background: #fff;
    outline: 2px solid brown;
} 
body {
    /* font-family: 'Noto Sans', sans-serif; */
    font-family: 'extra-condensed-medium', sans-serif;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.7);
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}


section > h1:first-child {
    font-size: 1.875rem;
}
 /* .wrapper {
   display: flex; 
}*/
/* 
.container section {
    width: 70%;
    padding: 0 35px;
    margin: 15px 0;
}
.container aside {
    width: 30%;
    margin: 35px 0;
}
.container aside .signup {
    padding: 5px 0;
   
}
footer {
    height: 1800px;
    background: #ccc;;
} */
#hacemos,#porquekiev {
    color: white;
}

.h1-title-small {
    font-size: 1rem;
}
.h2-title-secondary {
    font-size: 3rem;
}

.color-amarillo {
    color: #E9D277;
}
.color-kiev {
    color: #E3716F;
}
.color-dark {
    color: black;
}

.hacemos-title {
    text-transform: uppercase;
    font-size: clamp(2.7rem, 3vw, 6.398rem);
}

.hacemos-body {
    font-size: clamp(1.2rem, 1.3vw, 2.125rem);
}

.btn-hacemos-read-more {
    border-radius: 0px;
    background-color: #E3716F;
    color: white;
    font-weight: bold;
}
.btn-hacemos-read-more::after {
    display: inline-block;
    margin-left: .5rem;
    vertical-align: .1em;
    content: "";
    border-top: .4em solid transparent;
    border-left: .4em solid #fff;
    border-bottom: .4em solid transparent;
}

.yt_videos_wrapper_16_9-big {
  padding-bottom: 56.35%;
  position: relative;
}
.yt_videos_wrapper_16_9-big video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.data-title {
    color: black;
    font-size: clamp(1.8rem, 10vw, 2.563rem)    ;
    font-weight: 700;
}
.data-number {
    color: #E3716F;
    font-size: clamp(4.8rem, 10vw, 7.5rem);
    font-weight: 700;
}
.card-exito-body {
    background-color: black;
    padding: 1rem
}
.card-exito-body .color-amarillo {
    font-size: 1rem;
}
.exito-tags {
    font-size: .8rem;
    display: flex;
    width: 100%;
}
.contactanos {
    font-size: clamp(4rem, 10vw, 6.25rem);
    color: #ECD166;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: -3px 4px 2px #000000;
    transition: all 350ms ease-in-out;
}
.contactanos:hover {
    text-shadow: none;
    color:white;
}
@media (min-width: 576px) { 
    /* .contactanos {
        font-size: 4rem;
    } */
}
.icons-fa {
    display: flex;
    justify-content: end;
    align-items: center;
    
}

.icons-fa > a {
    color: white;
    margin-left: 1.125rem;

}