/* *{
    outline: 2px solid cyan;
} */
/* .container {
    position: relative;
    outline: 2px solid black;
}*/

html::after {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1100;
    background-image: url("./img/base-body-overlay.gif");
    opacity: .08;
    pointer-events: none;
  }

/* @font-face {
    font-family: "extra-condensed-light";
    src: url("./fonts/NotoSans-ExtraCondensedLight.ttf");
    } 
    @font-face {
    font-family: "extra-condensed-semi-bold";
    src: url("./fonts/NotoSans-ExtraCondensedSemiBold.ttf");
    }
    @font-face {
        font-family: "extra-condensed-extra-bold";
        src: url("./fonts/NotoSans-SemiCondensedExtraBold.ttf");
    }
    @font-face {
        font-family: "semi-condensed-medium";
        src: url("./fonts/NotoSans-SemiCondensedMedium.ttf");
    }
    @font-face {
        font-family: "semi-condensed-extra-bold";
        src: url("./fonts/NotoSans-SemiCondensedExtraBold.ttf");
    } 
    .extra-condensed-light {
        font-family:  extra-condensed-light;
    }
    .extra-condensed-semi-bold {
        font-family:  extra-condensed-semi-bold;
    }
    .extra-condensed-extra-bold {
        font-family:  extra-condensed-extra-bold;
    }
    .semi-condensed-medium {
        font-family:  semi-condensed-medium;
    }
    .semi-condensed-extra-bold {
        font-family:  semi-condensed-extra-bold;
    }
*/

/*
    Condensed Light - para las mas finas    (title sections)
    Extra Condensed Black - Gruesas         (h1-2,3)
    Extra Condensed Medium - Medias         (p)
*/
@font-face {
    font-family: "condensed-light";
    src: url("./fonts/NotoSans-CondensedLight.ttf");
}
@font-face {
    font-family: "extra-condensed-medium";
    src: url("./fonts/NotoSans-ExtraCondensedMedium.ttf");
}
@font-face {
    font-family: "extra-condensed-black";
    src: url("./fonts/NotoSans-ExtraCondensedBlack.ttf");
}
.condensed-light {
    font-family: condensed-light;
}
.extra-condensed-medium {
    font-family:  extra-condensed-medium;
}
.extra-condensed-black {
    font-family:  extra-condensed-black;
}

.scroll_navbar {
    padding: .2rem 0px .2rem 0;
    top: 0 !important;
    background-color: #D97775 !important;
  }
  .scroll_navbar2 {
    padding: .2rem 0px .2rem 0;
    top: 0 !important;
    background-color: #D97775 !important;
  }
  .navbar {
      transition: all 450ms;
  }
  html {
      background-color: #000;
  }
  .navbar-light .navbar-brand {
    color: white;
}
.bg-kiev {
    /* background-color: #D97775; */
    background-color: transparent;
}
.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    margin-left: -20px;
    display: block !important;
    border:0px solid black;
}

.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    right: 0;
    display: block !important;
    border:0px solid black;
}
.owl-prev i, .owl-next i {transform: scale(2,5);
    color: #000;
    -webkit-transform: scale(2,5);
     -moz-transform: scale(2,5);
     -ms-transform: scale(2,5); 
     -o-transform: scale(2,5); }
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
.container .section {
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    background: #fff;
    outline: 2px solid brown;
} 
body {
    /* font-family: 'Noto Sans', sans-serif; */
    font-family: 'extra-condensed-medium', sans-serif;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.7);
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}


section > h1:first-child {
    font-size: clamp(1.4rem, 5vw, 1.875rem);
}

.fixed-top {
    top: 16px;
}


.qweqweqwe {
    background: #000 url('./img/kiev.gif') no-repeat center center;
    background-size: auto;
    background-size: auto;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    -webkit-transition: all ease-out 0ms;
    -moz-transition: all ease-out 0ms;
    -o-transition: all ease-out 0ms;
    transition: all ease-out 0ms;
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
    padding-bottom: calc(100vh - 3rem);
}
 /* .wrapper {
   display: flex; 
}*/
/* 
.container section {
    width: 70%;
    padding: 0 35px;
    margin: 15px 0;
}
.container aside {
    width: 30%;
    margin: 35px 0;
}
.container aside .signup {
    padding: 5px 0;
   
}
footer {
    height: 1800px;
    background: #ccc;;
} */
/* popup */
/* .preview-box.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
  } */
  
  .lightbox-container .close-lightbox {
    position: absolute;
    top: -16px;
    right: -16px;
    cursor: pointer;
    padding: 1rem;
    border-radius: 18px;
    background-color: #fff;
    color: #444;
    -webkit-transition: .3s;
    transition: .3s;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lightbox-container .lightbox-data {
    width: 60%;
    height: 60%;
    padding: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: #444;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-image: none;
    background-size: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background-color: transparent;
    position: relative;
}
 
  .lightbox-container {
    position: fixed;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    color: #E9D277;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 99995;
    bottom: 0;
  }
  .lightbox-tab {
    width: 60%;
    padding: 0;
    background: black;
    padding: .8rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .show {
    transform: translateX(0);
    opacity: 100%;
  }

  /*  */
.vjvj {
    background-color: #D97775 !important;
}

#social__icons > a{
    color: white;
    font-size: 1.2rem;
}


#hacemos,#porquekiev {
    color: white;
}

.h1-title-small {
    font-size: 1rem;
}
.h2-title-secondary {
    font-size: 3rem;
}

.color-amarillo {
    color: #E9D277;
}
.color-kiev {
    color: #E3716F;
}
.color-dark {
    color: black;
}

.hacemos-title {
    text-transform: uppercase;
    font-size: clamp(2.7rem, 3vw, 6.398rem);
}

.hacemos-body {
    font-size: clamp(1rem, 1.3vw, 2.125rem);
}

.btn-hacemos-read-more {
    border-radius: 0px;
    background-color: #E3716F;
    color: white;
    font-weight: bold;
}
.btn-hacemos-read-more::after {
    display: inline-block;
    margin-left: .5rem;
    vertical-align: .1em;
    content: "";
    border-top: .4em solid transparent;
    border-left: .4em solid #fff;
    border-bottom: .4em solid transparent;
}

.yt_videos_wrapper_16_9-big {
  /* padding-bottom: 40vh; */
  padding-bottom: 100%;

  width: 100%;

  position: relative;
}
.yt_videos_wrapper_16_9-big video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .yt_videos_wrapper_16_9-big iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.data-title {
    color: black;
    font-size: clamp(1.8rem, 10vw, 2.563rem)    ;
    font-weight: 700;
}
.data-number {
    color: #E3716F;
    font-size: clamp(4.8rem, 5vw, 7.5rem);
    font-weight: 700;
}
.card-exito-body {
    background-color: black;
    padding: 1rem
}
.card-exito-body .color-amarillo {
    font-size: 1rem;
}
.exito-tags {
    font-size: .8rem;
    display: flex;
    width: 100%;
}
#contacto ul li a {
    color: white;
    font-size: clamp(1rem, 5vw, 1.4rem);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

#contacto ul li a:hover {
    text-shadow: none;
    color:#000;
}
@media (min-width: 576px) { 
    .yt_videos_wrapper_16_9-big {
        padding-bottom: 56.35%;
    }
}
.icons-fa {
    display: flex;
    justify-content: end;
    align-items: center;
    
}
.nav-link {
    font-size: 1.2rem;
  }
.icons-fa > a {
    color: white;
    /* margin-left: 1.125rem; */
}
.iniRecCtnr  {
    opacity: 1;
    position: absolute;
    z-index: 100;
    width: 80%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.qweqweqwe2 {
    /* background: #000 url('./img/behind_kiev/586x426.jpg') no-repeat center center; */
    background: #000 url('./img/behind_kiev/1500x1000.jpg') no-repeat center center;
    background-size: auto;
    background-size: auto;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    -webkit-transition: all ease-out 0ms;
    -moz-transition: all ease-out 0ms;
    -o-transition: all ease-out 0ms;
    transition: all ease-out 0ms;
    filter: brightness(50%);
    padding-bottom: calc(100vh - 3rem);
    background-position: top center;
}

.behind-kiev {
    left: 1.5rem;
    right: 1.5rem;
    background: rgba(0, 0, 0, 0.55);
    bottom: 1.5rem;
    color: #E9D277;
}
@media (max-width: 576px) { 
    .qweqweqwe {
        background: #000 url('./img/kiev.gif') no-repeat center center;
        background-size: auto;
        background-size: auto;
        background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
        -webkit-transition: all ease-out 0ms;
        -moz-transition: all ease-out 0ms;
        -o-transition: all ease-out 0ms;
        transition: all ease-out 0ms;
        filter: brightness(50%);
        -webkit-filter: brightness(50%);
        padding-bottom: calc(60vh - 3rem);
    }
    .iniRecCtnr  {
        opacity: 1;
        position: absolute;
        z-index: 100;
        width: 80%;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .qweqweqwe2 {
        background: #000 url('./img/behind_kiev/586x426.jpg') no-repeat center center;
        background-size: auto;
        background-size: auto;
        background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
        -webkit-transition: all ease-out 0ms;
        -moz-transition: all ease-out 0ms;
        -o-transition: all ease-out 0ms;
        transition: all ease-out 0ms;
        padding-bottom: calc(60vh - 3rem);
        background-position: top center;
    }
    .behind-kiev {
        left: 1rem;
        right: 1rem;
        background: rgba(0, 0, 0, 0.55);
        bottom: 1rem;
        color: #E9D277;
        font-size: .8rem;
    }




    .lightbox-container .lightbox-data {
        width: 90%;
        height: 34%;
    }
     
      .lightbox-tab {
        width: 90%;
        padding: .6rem;
      }
}

/* que hacemos */
article {
    top: 92px !important;
  }